.fa-circle-plus {
    cursor: pointer;
}
.quick-start-title {
    display: inline-block;
}
.fa-shadow {
    /* text-shadow:1px 1px rgba(32, 31, 30, 0.75); */
    cursor: pointer;
}
.readme {
    cursor: pointer;
    float: right;
}
.readme:hover {
    opacity: .5;

}
.textarea-timer {
    display: inline;
}
.bi-x {
    font-size: 2rem;
}
.timer-header {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
