.priv-group{
    display:inline-block;
}
/* icon */
.questionDeletion {
    position: absolute;
    right: 10px;
}
.form-check-input:checked {
    background-color: grey;
    border-color: grey;
  }
  .circle-label {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

  }
  .add-user-container{
    margin: 7px;
  }
  .user-container{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    /* want to style the containers of each user */
  }
  .floating-label{
    margin-left: 5px;
  }
  .arrow-icon {
    color:rgb(33, 29, 65);
    opacity: .7;
  }
  .arrow-icon:hover {
    cursor: pointer;
  }
  .check-label {
    /* font-family: 'Raleway', sans-serif;
    font-weight: 500; */
  }