.quiz-card {
    background-color: #252d4a;
    width: auto;
    height: min-content;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    display: flex;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
}

.time-management-card {
    background-color: #252d4a;
    width: auto;
    height: min-content;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    display: flex;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
}