.quiz-holder {
    background-color: #252d4a;
    width: 400px;
    min-height: 250px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
}

.quiz-selector-section {
    justify-content: center;
    
}

.quiz-form-label {
    color: #fff;
    text-align: center;
}

#quiz-form-select {
    background-color: #252d4a;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quiz-form-text {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
}

.quiz-form-text:focus {
    border-bottom: 2px solid lightblue;
    color: lightblue;
}

#quiz-button-sub {
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}